<h1>Sign Up Form</h1>

<form method="post" action="/user">
    
    @if (ViewBag.error == true)
    {
       <div class="alert alert-danger" role="alert">
        Passwords do not match. Try again.
        </div>
    }
    

        <label>
            Username:
        </label>

        @*If there is no error, Username field is blank. 
          If there is an error, Username field contains newUser's Username property*@
        @if (ViewBag.error == null)
        {
            <input type="text" name="username"/>
        }
        else
        {
            <input type="text" name="username" value="@ViewBag.userName"/>
        }

  <br />
  
        <label>
            Email:
         </label>

          @*If there is no error, Email field is blank. 
          If there is an error, Email field contains newUser's Email property*@
        @if (ViewBag.error == null)
        {
            <input type="email" name="email"/>
        }
        else
        {
            <input type="email" name="email" value="@ViewBag.email"/>
        }

  <br />

    

        <label>
            Password:
         </label>
            <input type="password" name="password"/>
   <br />

         <label>
            Verify Password:
         </label>
            <input type="password" name="verify"/>
   <br />

 

 <input type="submit" value="Add User" />

</form>
